@font-face {
  font-style: normal;
  font-weight: 100 900;
  src: url('@/pages/public/fonts/aleo.ttf') format('truetype');
  font-family: 'Aleo';
}

@font-face {
  font-style: italic;
  font-weight: 100 900;
  src: url('@/pages/public/fonts/aleo-italic.ttf') format('truetype');
  font-family: 'Aleo';
}
