@font-face {
  font-style: normal;
  font-weight: 200 900;
  src: url('/fonts/source-code-pro.ttf') format('truetype');
  font-family: 'Source Code Pro';
}

@font-face {
  font-style: italic;
  font-weight: 200 900;
  src: url('/fonts/source-code-pro-italic.ttf') format('truetype');
  font-family: 'Source Code Pro';
}
