ul, ol {
  @apply my-8 list-none;
  counter-reset: listItem;
}

li {
  @apply relative mb-1 pl-6;

  > :first-child {
    @apply mt-0;
  }

  > :last-child {
    @apply mb-0;
  }

  ol > & {
    counter-increment: listItem;
  }

  &::before {
    @apply absolute block w-6 left-0 inset-y-0;

    ul > & {
      content: '•';
    }

    ol > & {
      content: counter(listItem);
    }
  }
}